<div class="homepage-body">
  <video autoplay>
    <source src="../../assets/videos/My Video.mp4" type="video/mp4"style="width:50%; height: 500px;">
    Your browser does not support the video tag.
  </video>
  <div class="text">
    <div class="text-one">
      Get Diesel As Per Your Convenience
    </div>
    <div class="text-two">
      Right quality, Right quantity Diesel at same price
    </div>
    <div class="text-buttons">
      <a [routerLink]="['/register']">
        <button class="register-button">REGISTER NOW</button>
      </a><br>
      <a [routerLink]="['/login']">
        <button class="signin-button">SIGN IN</button>
      </a><br>
    </div>
    <div class="text-three">
      Or Call,+ 9681558959
    </div>
    <div class="text-four">
      EMERGENCY<br>AVAILABLE
    </div> 
  </div>  
</div>  
<div class="footer">
  <img id="footer-image" src="../../assets/images/footer-image.png">
  <img id="footer-image-overlay" src="../../assets/images/service-time.png">
</div>  