<div class="page-container" style="margin: 60px 100px;">
    <div class="header-row">
        <div class="header-caption">
            <h3>Order Diesel as Guest for Doorstep Delivery</h3>
            <p>
                Please fill below form for doorstep diesel delivery. You will be getting delivery notifications as and when your order status 
                changes e.g order is created, mobile diesel pump is nearby delivery address, vehicle reaches your address &amp; successful 
                delivery of diesel with invoice. Please feel free to contact us on 
                <a href="mailto:support@pepfuels.com" style="color:#01a5f1;">support@pepfuels.com</a> / 
                <span style="font-weight:600;">+91-7982 404 366</span> if you face
                any problem ordering <span style="font-weight:600;"> Diesel </span> online. 
            </p>
        </div>
        <div class="header-options">
            <h3>
                <img id="signin-icon" 
                    src="../../../assets/fontawesome-free-5.15.3-web/svgs/solid/sign-in-alt.svg">
                Already a Fiil&amp;Fix User,
                <a [routerLink]="['/login']">Click Here</a> 
                to Login
            </h3>
            <h3>
                <img id="register-icon" 
                    src="../../../assets/fontawesome-free-5.15.3-web/svgs/solid/user-plus.svg">
                First Time on Fiil&amp;Fix, 
                <a [routerLink]="['/register']">Click Here</a> 
                to Register
            </h3>
        </div>
    </div>
</div>